{% extends "base.html.twig" %}
{% block title %} {{ title }} {% endblock %}

{% block body %}
<br><br>
<div class="message"><h1> {{message}} </h1></div>

        <a href="{{path('account')}}">Retourner à mon espace personnel <a/><hr>


<div class="example-wrapper">

Commande passée le : {{order.createdAt|date('d/m/y')}} <hr>
Référence de ma commande : {{order.reference}}<hr>
Transporteur choisi :{{order.CarrierName}} <hr>
</div>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Produit</th>
      <th scope="col">Quantité</th>
      <th scope="col">Prix Unitaire</th>
      <th scope="col">Total</th>
       <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
{% for product in order.orderDetails %}
    <tr>
      <td>{{product.product}}</td>
      <td>x {{product.quantity}}</td>
      <td>{{product.price|number_format(2, ',','.')}} €</td>
      <td>{{product.total|number_format(2, ',','.')}} €</td>
      <td><a href="{{path('account_order_show',{'reference':order.reference})}}">   Voir ma commande </a>  </td>
    </tr>
{% endfor %}
  </tbody>
</table>
<div class="text-right">
 <strong>Sous total :</strong> {{order.getTotal|number_format(2, ',','.') }} € <br>
    <strong>Livraison :</strong> {{ (order.carrierPrice)|number_format(2, ',','.') }} €
    <hr>
   <strong>Total :</strong> {{ (order.carrierPrice + order.getTotal)|number_format(2, ',','.') }}  € <br><br>
    </div>
{% endblock %}

