{% extends "base.html.twig" %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
<br><br>
<div class="message"><h1> {{message}} </h1></div>

<div class="example-wrapper">
<a href="{{path('account')}}">Retourner à mon espace personnel <a/>
<hr>
 <br>
        {% if notification %}
        <div class="alert alert-info"> {{ notification }} </div>
        {% endif %}


        {{ form_start(form) }}
<div class="container">
        <div class="row">
            <div class="col-md-6">
                {{form_row(form.firstname) }}
            </div>

            <div class="col-md-6">
                {{form_row(form.lastname)}}
            </div>
        </div>




         <div class="row">
            <div class="col-md-6">
                {{form_row(form.email) }}
            </div>

</div>


            <div class="col-md-6">
                {{ form_row(form.old_password) }}
            </div>

            <div class="col-md-6">
                {{ form_row(form.new_password.first) }}
                {{ form_row(form.new_password.second) }}
            </div>


    <div class="form-group">
            <button type="submit" class="btn btn-primary">Mettre à jour</button>
            <button type="reset" class="btn btn-warning">Annuler</button>

</div>


<hr>
{{ form_end(form) }}
</div>
{% endblock %}
