{% extends "base.html.twig" %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
<h1><div class="message">{{message}}</div> </h1><br><br>
     <div class="card mx-auto" style="width: 18rem" id="boules">
        <div class="col-12 mt-3">
        </div>
    </div>
</div>
</div>
<br><br>

<div class="row">


        {% for boule in boules %}

        <div class="card-glaces col-3 mt-3">


        <div class="flip-card-back">

    Peut contenir des traces de
            {{boule.allergenes}}

        </div>
        <div class="image_container" >
             <img class="card-img-top" src="/upload/{{boule.Illustration}}"/>
        </div>

        <div class="text_back">
        <br><br>
        <br><br>
        <br><br>
        <br><br>
            <div>

                    <h4>{{boule.name}}</h4>

            </div>


        </div>

    </div>

        {% endfor %}

</div>

{% endblock %}

