{% extends "base.html.twig" %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
<div class="message"><h1> {{message}} </h1></div>
<div class="row" id="glaces">
  <div class="card mx-auto" style="width: 18rem;">
    <img class="card-img-top" src="{{ asset('img/glaces_boules.jpg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Les glaces en boules</h5>
      <a href="{{path('boules')}}" class="btn">Voir les parfums</a>
    </div>
  </div>
  <div class="card mx-auto" style="width: 18rem;">
    <img class="card-img-top" src="{{ asset('img/barre_glacee.jpg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Les autres produits glacés</h5>
      <p class="card-text"></p>
      <a href="{{path('glaces')}}" class="btn">Voir les produits</a>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
