{% extends "base.html.twig" %}
{% block title %} {{ title }} {% endblock %}
{% block message %} {{ message }} {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Glaces</h4>

                <br>
            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<br><br>
<br><br>

<div class="row">


        {% for glace in glaces %}

        <div class="card-glaces col-3 mt-3">


        <div class="flip-card-back">

                 {{glace.description}} <br><br> <hr>



    Peut contenir des traces de <br>
            {{glace.allergenes}}

        </div>
        <div class="image_container" >
             <img class="card-img-top" src="/upload/{{glace.Illustration}}"/>
        </div>

        <div class="text_back">
        <br><br>
        <br><br>
        <br><br>
        <br><br>
            <div>

                    <h4>{{glace.name}}</h4>

            </div>


        </div>

    </div>

        {% endfor %}

</div>

{% endblock %}

