{% extends "base.html.twig" %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
<br><br>
<div class="message"><h1> {{message}} </h1></div>
<p>Bonjour {{order.user.firstname}} {{order.user.lastname}}, il semblerait que le paiement pour votre commande n°{{order.reference}} ait échoué . <br>
    Une confirmation d'erreur vient de vous être envoyée par email à l'adresse {{order.user.email}}
</p>
<hr>
<a href="{{path('order')}}"> Réeesayer le paiement <a>
{% endblock %}
